{% extends "base.html" %}

{% block userinfo %}{% endblock %}

{% block content %}
  <h2>By what name do you wish to be known?</h2>
  <p>
    Pick your username. One has been generated for you based on your
    email address. Max length is 30, and it can look like an email address.
    No spaces or other odd punctuation, please.
  </p>
  <p>
    Whatever you pick here you will be stuck using for life, so think
    carefully!
    <small>Or at least until you get a new email address or ask me to change it.</small>
  </p>

  <form method="POST" class="form-inline">
    {% csrf_token %}
    <div class="control-group {{ form.username.errors|yesno:"error," }}">
      <div class="controls">
        {{ form.username }}
        {% if form.username.errors %}
          <span class="help-inline">{{ form.username.errors|join:", " }}</span>
        {% endif %}
      </div>
    </div>
    <button type="submit" class="btn btn-large btn-primary">Update</button>
  </form>
{% endblock %}
