<!doctype html>
<html lang="en">
{% load static from staticfiles %}

<head>
<title>{% block title %}wotmad{% endblock %}</title>
<link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.1/select2.min.css">
{% block stylesheets %}{% endblock %}
</head>

<body>
    {% block userinfo %}
      <div class="span12">
      </div>
    {% endblock %}

    <header>
      <nav class="navbar navbar-default">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url home %}">wotmad</a>
        </div>

        <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav">
            <li><a href="{% url home %}">home</a></li>
            <li><a href="{% url artofwar:list %}">art of war</a></li>
            <li><a href="{% url scripts:list %}">scripts</a></li>
            <li><a href="{% url stats:list %}">stats</a></li>
            <li><a href="#">misc</a></li>
            <li><a href="#">?</a></li>
          </ul>

          <p class="navbar-text navbar-right">
            {% if not user.is_authenticated %}
              <a id="browserid" href="#">login / register</a>
              <form method="POST" id="login-form" action="{% url accounts:verify %}">
                {% csrf_token %}
                {{ browserid_form.as_p }}
              </form>
            {% else %}
              Signed in as {{ user }}
              <a href="{% url accounts:logout %}" title="Logout"><span class="glyphicon glyphicon-log-out"></span></a>
            {% endif %}
          </p>

          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" id="st-search-input" class="form-control" placeholder="Search"/>
            </div>
          </form>

        </div>
      </div>
    </header>

    {% block messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endblock %}

    {% block content %}{% endblock %}

    <footer class="footer">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>
        Features and Issues <a
          href="https://trello.com/board/wotmad/4f723dc355adc061384f2976">on Trello</a>;
        Source code on <a href="https://github.com/avidal/wotmad/">Github</a>.
      </p>
    </footer>
  </div>

  <script>
    window.ST_RENDER_STYLE = "new_page";
  </script>
  <script src="//login.persona.org/include.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.1/select2.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/URI.js/1.7.2/URI.min.js"></script>
  <script>
  var uri = URI();

  var Swiftype = window.Swiftype || {};
  (function() {
    Swiftype.key = 'Fcwjpc9NxAShMCXnysXr';
    Swiftype.inputElement = '#st-search-input';
    Swiftype.resultContainingElement = '#st-results-container';
    Swiftype.attachElement = '#st-search-input';
    Swiftype.renderStyle = window.ST_RENDER_STYLE || "new_page";
    Swiftype.resultPageURL = "{% url search %}";

    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.async = true;
    script.src = "//swiftype.com/embed.js";
    var entry = document.getElementsByTagName('script')[0];
    entry.parentNode.insertBefore(script, entry);
  }());

  $(document).ready(function() {
    $('#browserid').bind('click', function(e) {
      e.preventDefault();
      navigator.id.getVerifiedEmail(function(assertion) {
          if (assertion) {
            var $e = $('#id_assertion');
            $e.val(assertion.toString());
            $e.parent().submit();
          }
      });
    });
    $('.select2').select2();
  });
  </script>
  {% block javascript %}{% endblock %}

</body>
</html>
