<!doctype html>
<html lang="en">
{% load static from staticfiles %}

<head>
<title>{% block title %}wotmad{% endblock %}</title>
<link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.1/select2.min.css">
<style type="text/css">
footer {
  height: 60px;
  background-color: #f5f5f5;
}

footer .container .credit {
  margin: 20px 0;
}
</style>
{% block stylesheets %}{% endblock %}
</head>

<body>
  <header>
    <nav class="navbar navbar-default">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url home %}">wotmad</a>
      </div>

      <div class="collapse navbar-collapse">

        <ul class="nav navbar-nav">
          <li><a href="{% url artofwar:list %}">art of war</a></li>
          <li><a href="{% url scripts:list %}">scripts</a></li>
          <li><a href="{% url stats:list %}">stats</a></li>
          <li><a href="#">misc</a></li>
          <li><a href="#">?</a></li>
        </ul>

        <p class="navbar-text navbar-right">
          {% if not user.is_authenticated %}
            <a id="browserid" href="#">login / register</a>
            <form method="POST" id="login-form" action="{% url accounts:verify %}">
              {% csrf_token %}
              {{ browserid_form.as_p }}
            </form>
          {% else %}
            Signed in as {{ user }}
            <a href="{% url accounts:logout %}" title="Logout"><span class="glyphicon glyphicon-log-out"></span></a>
          {% endif %}
        </p>

      </div>
    </div>
  </header>

  {% block messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endblock %}

  <div class="container" id="main">
    {% block content %}{% endblock %}
  </div>

  <footer>
    <div class="container">
      <p class="text-muted credit pull-right">
        <a href="#main" title="Back to top"><span class="glyphicon glyphicon-chevron-up"></span></a>
      </p>
      <p class="text-muted credit">
        Features and Issues <a
          href="https://trello.com/board/wotmad/4f723dc355adc061384f2976">on Trello</a>;
        Source code on <a href="https://github.com/avidal/wotmad/">Github</a>.
      </p>
    </div>
  </footer>

  <script>
    window.ST_RENDER_STYLE = "new_page";
  </script>
  <script src="//login.persona.org/include.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.1/select2.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/URI.js/1.7.2/URI.min.js"></script>
  <script>
  var uri = URI();

  $(document).ready(function() {
    $('#browserid').bind('click', function(e) {
      e.preventDefault();
      navigator.id.getVerifiedEmail(function(assertion) {
          if (assertion) {
            var $e = $('#id_assertion');
            $e.val(assertion.toString());
            $e.parent().submit();
          }
      });
    });
    $('.select2').select2();
  });
  </script>
  {% block javascript %}{% endblock %}

</body>
</html>
