<!doctype html>
<html lang="en">
{% load compress %}
{% load static from staticfiles %}

<head>
<title>wotmad</title>
{% compress css %}
<link type="text/less" rel="stylesheet" href="{% static "bootstrap/less/bootstrap.less" %}">
<style type="text/less">
header.jumbotron {
  text-align: center;
  h1 {
    font-size: 96px;
    line-height: 96px;
  }

  ul.nav {
    li {
      display: inline-block;
    }
  }
}
</style>
{% endcompress %}
</head>

<div class="container">
  <header class="jumbotron">
    {% if not user.is_authenticated %}
      <a id="browserid" class="pull-right" href="#">{{ user|default:"login" }}</a>
      <form method="POST" action="{% url account-verify %}">
        {% csrf_token %}
        {{ browserid_form.as_p }}
      </form>
    {% else %}
      <span class="pull-right">{{ user }}</span>
    {% endif %}

    <h1>wotmad</h1>
    <ul class="nav">
      <li><a href="#">home</a></li>
      <li class="sep">|</li>
      <li><a href="#">logs</a></li>
      <li class="sep">|</li>
      <li><a href="#">scripts</a></li>
      <li class="sep">|</li>
      <li><a href="#">stats</a></li>
      <li class="sep">|</li>
      <li><a href="#">misc</a></li>
      <li class="sep">|</li>
      <li><a href="#">?</a></li>
    </ul>
  </header>
  <h2>Recent Activity</h2>
  <ul>
    <li><i class="icon-file"></i> <a href="#">Mythras</a> uploaded <a href="#">how to kill a mockingbird</a></li>
    <li><i class="icon-plane"></i> <a href="#">Drafen</a> commented on <a href="#">dusk wins a heron for the darkside</a></li>
    <li><i class="icon-gift"></i> <a href="#">Johnny</a> submitted <a href="#">bash tracker</a> for zMUD.</li>
    <li><i class="icon-home"></i> <a href="#">Markus</a> updated <a href="#">mapping script</a> for mudlet to v2.0.</li>
    <li><i class="icon-file"></i> <a href="#">Mythras</a> uploaded <a href="#">how to kill a mockingbird</a></li>
    <li><i class="icon-file"></i> <a href="#">Mythras</a> uploaded <a href="#">how to kill a mockingbird</a></li>
    <li><i class="icon-plane"></i> <a href="#">Drafen</a> commented on <a href="#">dusk wins a heron for the darkside</a></li>
    <li><i class="icon-gift"></i> <a href="#">Johnny</a> submitted <a href="#">bash tracker</a> for zMUD.</li>
    <li><i class="icon-home"></i> <a href="#">Markus</a> updated <a href="#">mapping script</a> for mudlet to v2.0.</li>
    <li><i class="icon-plane"></i> <a href="#">Drafen</a> commented on <a href="#">dusk wins a heron for the darkside</a></li>
    <li><i class="icon-gift"></i> <a href="#">Johnny</a> submitted <a href="#">bash tracker</a> for zMUD.</li>
    <li><i class="icon-home"></i> <a href="#">Markus</a> updated <a href="#">mapping script</a> for mudlet to v2.0.</li>
  </ul>
</div>

<script src="https://browserid.org/include.js"></script>
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
{% compress js %}
<script>
$(document).ready(function() {
  $('#browserid').bind('click', function(e) {
    e.preventDefault();
    navigator.id.getVerifiedEmail(function(assertion) {
        if (assertion) {
          var $e = $('#id_assertion');
          $e.val(assertion.toString());
          $e.parent().submit();
        }
    });
  });
});
</script>
{% endcompress %}

</html>
