{% extends "base.html" %}

{% block content %}
<h2>
  [{{ script.get_client_display }}] {{ script.title }}
  {% if script.submitter == user %}
    <small class="pull-right">
      <a href="{% url scripts:newversion pk=script.pk slug=script.slug %}">upload new version</a>
      |
      <a href="{% url scripts:edit pk=script.pk slug=script.slug %}">update details</a>
    </small>
  {% endif %}
</h2>
<span class="muted">
  updated to version {{  script.latest_version.version }} by {{ script.submitter }} about {{ script.latest_version.date_submitted|timesince }} ago
</span>
<p>{{ script.description }}</p>
<pre>{{ script.latest_version.source }}</pre>
{% endblock %}
