*.py[co]
*.sw[a-z]
*~
*.orig
*.bak
*.sublime-project
*.sublime-workspace
.ropeproject

.env

Berksfile.lock
.vagrant/

tmp/*
!tmp/.empty

run/*
!run/.empty

uploads/*
!uploads/.empty

static/*
!static/.empty
