Django==1.4.17
path.py==7.0
django-browserid==0.11
django-annoying==0.8.0
requests==2.5.1
psycopg2==2.5.4
django-crispy-forms==1.4.0
django-braces==1.4.0
South==1.0.2
dj-database-url==0.3.0
chaussette==1.2
gevent==1.0.1
django-debug-toolbar==1.2.2
pytz==2014.10
honcho==0.5.0
ipython==2.3.1
newrelic==2.40.0.34
