{% extends "base.html" %}

{% block title %}Stat Database{% endblock %}

{% block content %}
<h1>last 100 submitted stats {% if mine %}by you{% endif %} (total {{ total }})
  <small class="pull-right">
    <a href="{% url stats:contribute %}">want to contribute?</a>
  </small>
</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>When</th>
      {% if mine %}<th>Name</th>{% endif %}
      <th>Faction</th>
      <th>Class</th>
      <th>Homeland</th>
      <th>Stats</th>
      <th>Sum</th>
    </tr>
  </thead>
  <tbody>
  {% for stat in object_list %}
    <tr class="{% if stat.submitter == user and not mine %}info{% endif %}">
      <td>
        <abbr title="{{ stat.date_submitted }}">{{ stat.date_submitted|timesince }} ago</abbr>
      </td>
      {% if mine %}<td>{{ stat.name }}</td>{% endif %}
      <td>{{ stat.get_faction_display }}</td>
      <td>{{ stat.get_klass_display }}</td>
      <td>{{ stat.get_homeland_display }}</td>
      <td>{{ stat.stats|join:"&nbsp;"|safe }}</td>
      <td>{{ stat.sum }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<p>
  <a class="btn btn-primary" href="{% url stats:export %}"><i class="icon-download"></i> Export All</a>
  {% if user.is_authenticated %}
    <a class="btn" href="{% url stats:export %}?mine"><i class="icon-download"></i> Export Mine</a>
  {% endif %}
</p>
{% endblock %}
