{% extends "base.html" %}

{% block title %}Stat Database{% endblock %}

{% block content %}
<h1>submitted stats {% if submitter %}by {{ submitter.username }}{% endif %}
  <small class="pull-right">
    <a href="{% url stats:contribute %}">want to contribute?</a>
  </small>
</h1>

<ul>
  {% for stat in object_list %}
    <li>
      {{ stat }}
      submitted by {{ stat.submitter }} about
      <abbr title="{{ stat.date_submitted }}">{{ stat.date_submitted|timesince }} ago.</abbr>
    </li>
  {% endfor %}
</ul>

<p>
  <a class="btn btn-primary" href="{% url stats:export %}"><i class="icon-download"></i> Export All</a>
  {% if user.is_authenticated %}
    <a class="btn" href="{% url stats:export %}?mine"><i class="icon-download"></i> Export Mine</a>
  {% endif %}
</p>
{% endblock %}
