@import "../bootstrap/less/bootstrap.less";

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}

.label-seanchan {
    background-color: magenta;
    color: white;
}

.label-darkside {
    background-color: red;
    color: white;
}

.label-lightside {
    background-color: cyan;
    color: black;
}

.log-list {
    list-style-type: none;
    margin-left: 0px;
}

.log-entry {
    margin-bottom: 10px;
    .log-title {
        font-size: 24px;
    }
    .log-meta {
        margin-left: 0px;
        list-style-type: none;
        li {
            display: inline-block;
        }
    }
    .log-submission-info {
        font-size: 12px;
    }
}