{% extends "base.html" %}

{% block title %}Art of War{% endblock %}

{% block content %}
<div class="row">
  <div class="span9">
    <ul class="log-list">
      {% for log in object_list %}
        <li class="log-entry">
          <span class="log-title {{ log.pov }}">
            <a href="{{ log.get_absolute_url }}">{{ log.title }}</a>
          </span><br/>
          <ul class='log-vote'>
            <li class='upvote'><i class='icon-chevron-up'></i></li>
            <li class='downvote'><i class='icon-chevron-down'></i></li>
          </ul>
          <ul class="log-meta">
            {% for category in log.categories.all %}
              <li><span class="label">{{ category }}</span></li>
            {% endfor %}
          </ul>
          <span class="log-submission-info">
            submitted {{ log.date_submitted|timesince }} ago by {{ log.submitter }}
          </span>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="span3">
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        <li>
          <a href="{% url artofwar:submit %}"><i class="icon-plus"></i> Submit Log</a>
        </li>
        <li class="nav-header">
          Filter Results
        </li>
        {% for category in categories %}
          <li>
            <a href="#" class="filter-logs" data-category="{{ category.slug }}">{{ category }}</a>
          </li>
        {% endfor %}
        <li class="divider"></li>
        <li>
          <a href="#" class="filter-logs" data-category=""><i class="icon-remove"></i> Reset Filters</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
$(function() {
  $('a.filter-logs').click(function(event) {
    event.preventDefault();

    var slug = $(this).data('category');
    window.uri.removeQuery('category');
    if(slug) {
      window.uri.addQuery('category', slug);
    }

    window.location = window.uri;
  });

  // Get the category out of the URI and highlight the element if applicable
  var currentCategory = window.uri.query(true)['category'];
  if(currentCategory) {
    $('a.filter-logs[data-category="'+currentCategory+'"]').parent().addClass('active');
  }
});
</script>
{% endblock %}
