{% extends "base.html" %}

{% block title %}Art of War{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-9">
    <ul class="nav nav-pills">
      <li class="active">
        <a href="#">most popular</a>
      </li>
      <li><a href="#">newest</a></li>
    </ul>
    <ul class="log-list">
      {% for log in object_list %}
        <li class="log-entry">
          <span class="log-title {{ log.pov }}">
            <a href="{{ log.get_absolute_url }}">{{ log.title }}</a>
          </span><br/>
          <span class="log-submission-info">
            submitted {{ log.date_submitted|timesince }} ago by {{ log.submitter }}
          </span>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-3">
    <a class="btn btn-primary pull-right" href="{% url artofwar:submit %}"><span class="icon-plus"></span> Submit Log</a>
    <div class="clearfix" style="margin-bottom:10px;"></div>
    <div class="list-group">
      <div class="list-group-item">
        <h4 class="list-group-item-heading">Filter Results</h4>
        <div class="list-group">
          {% for category in categories %}
          <a href="#" class="filter-logs list-group-item" data-category="{{ category.slug }}">{{ category }} <span class="badge">{{ category.logs.count }}</span></a>
          {% endfor %}
        </div>
      </div>
      <a href="#" class="filter-logs list-group-item" data-category=""><i class="icon-remove"></i> Reset Filters</a>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
$(function() {
  $('a.filter-logs').click(function(event) {
    event.preventDefault();

    var slug = $(this).data('category');
    window.uri.removeQuery('category');
    if(slug) {
      window.uri.addQuery('category', slug);
    }

    window.location = window.uri;
  });

  // Get the category out of the URI and highlight the element if applicable
  var currentCategory = window.uri.query(true)['category'];
  if(currentCategory) {
    $('a.filter-logs[data-category="'+currentCategory+'"]').parent().addClass('active');
  }
});
</script>
{% endblock %}
